@color-box-size: 150px;
@icon-size: 50px;
@spacing: 5px;

@drop-background: fadeout(#eee, 30%);
@palette-background: #ccc;
@palette-icon: #000;
@box-border: rgba(0, 0, 0, 0.5);
@drop-border: lighten(@box-border, 50%);

li {
	list-style-type: none;
	margin: 0;
}

.box {
	.round;
	border: @spacing solid @box-border;
	display: inline-block;
	height: @color-box-size;
	overflow: hidden;
	vertical-align: middle;
	width: @color-box-size;

  -webkit-transition: background-color .1s linear;  
     -moz-transition: background-color .1s linear;  
      -ms-transition: background-color .1s linear;  
       -o-transition: background-color .1s linear;  
          transition: background-color .1s linear;  
}

.round(@radius: 12px) {	
  -webkit-border-radius: @radius; 
     -moz-border-radius: @radius; 
          border-radius: @radius; 
}

.dropabble-box {
	.round;
	background-color: @drop-background;
	border: @spacing dashed @drop-border;
}


.transform-palette {
	.round(@icon-size / 2);
	background-color: @palette-background;
	margin: @spacing;
	position: absolute;
	right: 0;
	
	li {
		.round(@icon-size / 2);
		background-color: @palette-icon;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		margin: @spacing;
		text-indent: -9999px;
		height: @icon-size;
		width: @icon-size;
		
		&.lighten {
			background-image: url(../images/lighten.png);
		}
		&.darken {
			background-image: url(../images/darken.png);
		}
		&.saturate {
			background-image: url(../images/saturate.png);
		}
		&.desaturate {
			background-image: url(../images/desaturate.png);
		}
		&.fadein {
			background-image: url(../images/fadein.png);
		}
		&.fadeout {
			background-image: url(../images/fadeout.png);
		}
		&.spin {
			background-image: url(../images/spin.png);
		}
	}
}
	
.base-color {
	.box;
	margin: 4 * @spacing @spacing;
	position: relative;

	label {
		display: block;
		margin: @spacing;
	}
	
	input {
		bottom: 0;
		margin: @spacing;
		padding: @spacing;
		position: absolute;
		width: @color-box-size - (4 * @spacing);
	}
	
	output {
		display: block;
		font-weight: bold;
		margin: @spacing;
		text-align: center;
	}
}
	
.color-transforms {
	.dropabble-box;
	display: inline-block;
	height: @color-box-size + (2 * @spacing);
	margin: @spacing;
	min-width: @color-box-size + (2 * @spacing);
	padding: @spacing;
	vertical-align: middle;

	li {
		.box;
		margin-right: @spacing;
		position: relative;
		
		&:last-child {
			margin-right: 0;
		}
		
		code {
			display: inline-block;
			margin: @spacing;
		}
		
		input {
			border: 0;
			bottom: 0;
			margin: @spacing;
			position: absolute;
			width: @color-box-size - (2 * @spacing);
		}
		
		output {
			display: block;
			font-weight: bold;
			margin: @spacing;
			text-align: center;
		}
	}
}

.trash {
	.dropabble-box;
	width: 2 * @color-box-size;
	height: @color-box-size;
	margin: 0 auto;
}
